*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}


.App{
  width: 100vw;
  height: 100vh;
  /*background-color: rgb(107, 186, 231);*/
  /*background-image: url("./pictures/sol.jpg");*/

  /*background: url(./pictures/brokenClouds.jpg) no-repeat center center fixed;*/
  background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;



  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.weather{

  border-radius: 20px;
  /*background-color: rgb(190, 225, 248);*/

  background-color: rgb(155, 172, 172);


  width: 30%;
  padding-bottom: 40px;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 10px;
  box-shadow: 15px 12px 8px rgb(49, 48, 48);
 
}
.information{
  display: flex;
  justify-content: center;
  align-items: center;


}



h2{

  color: rgba(2, 2, 49, 0.425);
  font-family:Georgia, 'Times New Roman', Times, serif;
}

 li#description{

  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgba(2, 2, 49, 0.534);
  font-style: oblique;
  padding-bottom: 8px;

}

/*b{
  color: rgb(11, 11, 167);
}*/
li{
  list-style: none;
  font-weight: bold;
  text-align: left;
  
  color: rgb(11, 11, 167)

}

img{
  width: 50%;
  height:.50%;
}

ul{
  width: 50%;
}

button{

  background-color: rgb(35, 129, 216);
  margin-top: 5px;
  padding: 8px 10px;
  width: 10vw;
  
  /*border:none;*/
  border-radius: 20px;
  font-weight: bold;
  font-size: 90%;
  font-family:Georgia, 'Times New Roman', Times, serif
 
}


i{

  color:rgba(2, 2, 49, 0.507);

}

.loading{

  width: 100vw;
  height: 100vh;
  
  background-color: rgb(155, 172, 172);
  display:flex;
  
  align-items: center;


}
.cssload-clock{
	border-radius: 83px;
	border: 4px solid rgb(0,0,0);
	height: 110px;
	width: 110px;
	position: relative;
	left: 35%;
	left: calc(50% - 59px);
		left: -o-calc(50% - 59px);
		left: -ms-calc(50% - 59px);
		left: -webkit-calc(50% - 59px);
		left: -moz-calc(50% - 59px);
}
.cssload-clock:after{
	content: "";
	position: absolute;
	background-color: rgb(0,0,0);
	top:3px;
	left: 48%;
	height: 52px;
	width: 6px;
	border-radius: 7px;
	transform-origin: 50% 97%;
		-o-transform-origin: 50% 97%;
		-ms-transform-origin: 50% 97%;
		-webkit-transform-origin: 50% 97%;
		-moz-transform-origin: 50% 97%;
	animation: grdAiguille 2.3s linear infinite;
		-o-animation: grdAiguille 2.3s linear infinite;
		-ms-animation: grdAiguille 2.3s linear infinite;
		-webkit-animation: grdAiguille 2.3s linear infinite;
		-moz-animation: grdAiguille 2.3s linear infinite;
}



.cssload-clock:before{
	content: "";
	position: absolute;
	background-color: rgb(0,0,0);
	top:8px;
	left: 48%;
	height: 48px;
	width: 6px;
	border-radius: 7px;
	transform-origin: 50% 94%;
		-o-transform-origin: 50% 94%;
		-ms-transform-origin: 50% 94%;
		-webkit-transform-origin: 50% 94%;
		-moz-transform-origin: 50% 94%;
	animation: ptAiguille 13.8s linear infinite;
		-o-animation: ptAiguille 13.8s linear infinite;
		-ms-animation: ptAiguille 13.8s linear infinite;
		-webkit-animation: ptAiguille 13.8s linear infinite;
		-moz-animation: ptAiguille 13.8s linear infinite;
}



@keyframes grdAiguille{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
}

@-o-keyframes grdAiguille{
		0%{-o-transform:rotate(0deg);}
		100%{-o-transform:rotate(360deg);}
}

@-ms-keyframes grdAiguille{
		0%{-ms-transform:rotate(0deg);}
		100%{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes grdAiguille{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes grdAiguille{
		0%{-moz-transform:rotate(0deg);}
		100%{-moz-transform:rotate(360deg);}
}

@keyframes ptAiguille{
		0%{transform:rotate(0deg);}
		100%{transform:rotate(360deg);}
}

@-o-keyframes ptAiguille{
		0%{-o-transform:rotate(0deg);}
		100%{-o-transform:rotate(360deg);}
}

@-ms-keyframes ptAiguille{
		0%{-ms-transform:rotate(0deg);}
		100%{-ms-transform:rotate(360deg);}
}

@-webkit-keyframes ptAiguille{
		0%{-webkit-transform:rotate(0deg);}
		100%{-webkit-transform:rotate(360deg);}
}

@-moz-keyframes ptAiguille{
		0%{-moz-transform:rotate(0deg);}
		100%{-moz-transform:rotate(360deg);}
}






/*


.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ripple div {
  position: absolute;
  border: 6px solid rgb(14, 160, 233);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }

}*/
